name: CI Windows

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
        with:
          submodules: 'true'

      - name: Build Debug
        run: cargo build --verbose

      - name: Build Release
        run: cargo build --release --verbose

      - name: Bundle CI Results
        shell: bash
        run: bash ./scripts/bundle_ci.sh
        env:
          CI_DLIB: dll
          CI_SLIB: lib
          CI_EXE: .exe

      - uses: actions/upload-artifact@v3
        with:
          name: binaries
          path: |
            ci_build/*
